body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: #D3D3D3;

}

#details {
  width: 100%;
  display: block;
}

#details div {
  width: 25%;
  background: red;
  text-align: center;
  float: left;
}

